.link-secondary:hover {
    color: #0d6efd;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.bg-teal {
    background: #009688;
}

.bg-pink {
    background: #E91E63;
}

.bg-blue {
    background: #2196F3;
}

.card {
    border: none;
    transition: all 300ms ease-in-out;
}

.card:hover {
    box-shadow: 1px 1px 29px -2px rgba(0,0,0,0.27);
    -webkit-box-shadow: 1px 1px 29px -2px rgba(0,0,0,0.27);
    -moz-box-shadow: 1px 1px 29px -2px rgba(0,0,0,0.27);
}